// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #fff;
 
// ----------------------------------------------------------------------------
// Widget-eyemap styles
// ----------------------------------------------------------------------------
.widget-eyemap {
 
  background-color: $background-color;
 
  .title {
    color: #000;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 10px;
  }

  #body {
   width: 100%;
   height: 100%;
  }

  #vpnSG, #vpnJP, #vpnAU, #vpnDE, #vpnEU, #vpnUSE, #vpnUSW, #vpnSA {
    stroke-width : 5px;
    stroke: #0000B2;
    fill: none;
    stroke-opacity: 0.5;
  }

  #vpn_siteSA, #vpn_siteUSW, #vpn_siteEU {
    stroke-width : 5px;
    stroke: green;
    fill: none;
    stroke-opacity: 0.5;
  }

  #val_vpn_fro_SG, #val_vpn_fro_JP, #val_vpn_fro_AU, #val_vpn_fro_DE, #val_vpn_fro_EU, #val_vpn_fro_USE, #val_vpn_fro_USW, #val_vpn_fro_SA, #val_vpn_site_fro_SA, #val_vpn_site_fro_USW, #val_vpn_site_fro_EU  {
    font-family : "Courier New", Courier, monospace;
    font-size: 24px; /* 16px */
    font-weight: bold;
  }

  #val_vpn_to_SG, #val_vpn_to_JP, #val_vpn_to_AU, #val_vpn_to_DE, #val_vpn_to_EU, #val_vpn_to_USE, #val_vpn_to_USW, #val_vpn_to_SA, #val_vpn_site_to_SA, #val_vpn_site_to_USW, #val_vpn_site_to_EU   {
    font-family : "Courier New", Courier, monospace;
    font-size: 24px; /* 16px */
    font-weight: bold;

  }

  
  svg.datamap {
    position: absolute;
    left: 0;
    top: 0;
    //z-index: 0;
    //background: lightblue;
    background: lightgrey;
  }

  .draggable {
    cursor: move;
  }



  .gauge_container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }


  .updated-at {
    color: #000
  }

  .background {
    fill: blue;
    pointer-events: all;
  }

 
  .red {
    fill: #c90d0d;
  }
 
  .green {
    fill: #0dc92c;
  }
 
}

